{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="contact" style="text-align: center; margin-top: 50px;">
    <div class="contact-icons">
        <a href="https://www.linkedin.com/in/mustafa-enes-aksoy/" target="_blank" class="icon" ">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/mustafaenesaksoy" target="_blank" class="icon">
            <i class="fab fa-github"></i>
        </a>
    </div>
</section>

<form action="" method="post" style="margin-top: 70px; margin-left: 50px; margin-right: 40%; margin-bottom: 30px;">
    {% csrf_token %}


    <div class="mb-3">
        <label for="name" class="form-label">Name (required)</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address (required)</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Write Your Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="message"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}